@import '@fortawesome/fontawesome-free/css/all.min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Roboto, system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  *background-color: #242424;
  /* background-color: #ffffff; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --scrollbar-track-color: #f5f5f5;
  --scrollbar-thumb-color: #599eff;
  --scrollbar-width: 4px;
  scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
  max-width: 100% !important;

  height: 100vh;

  margin: 0 !important;
  padding: 0 !important;

  text-align: center;
  display: flex;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

::-webkit-scrollbar {
  width: var(--scrollbar-width);
  background-color: var(--scrollbar-track-color);
  margin-right: 1px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
  border-radius: var(--scrollbar-width);
}
